<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dashboard.css">
    <title>File Upload</title>
</head>
<body>
    <h1 class="heading"> Welcome to our database! </h1>
    <div class="main-container">
        <form id="files-search" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" id="myFile" name="filename">
            <input id="mySubmit" type="submit">
        </form>
        <div class="child-container">
            <% test.forEach(element => { %> 
            <form method="POST" action="files/<%= element._id %>?_method=DELETE">
                <div class="dashDownload">
                    <%= element.filename %> 
                        <button class="item-delete"> Delete </button>
                        <button class="item-download"  formmethod="GET" formaction="download/<%= element.filename %>"> Download</button>
                </div>
            </form>
            <% }); %> 
        </div>
    </div>
</body>
</html>