*, *::before, *::after {
    box-sizing: border-box;
}
body{
    background-color: black;
}
.dashDownload{
    display: flex;
    flex-flow: row wrap;
    border: outset rgb(0, 60, 255) 5px;
}
.container{
    color: rgb(77, 142, 199);
    padding: 1rem;
    word-break: break-all;
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
}
.item-delete{
    background-color: rgb(161, 42, 42);
    margin-left: auto;
}
.item-download{
    background-color: rgb(116, 116, 185);
}